doctype html
html(lang="fr")
  head
    title Page d'accueil
  body
    header
      h1 Bienvenue sur notre site web !
    main
      p Ici, vous pouvez trouver des informations sur notre entreprise.
    footer
      a(href="/contact") Contactez-nous
