doctype html
html(lang="fr")
  head
    title Message envoyé
  body
    header
      h1 Votre message a été envoyé
    main
      p Merci pour votre message. Il a bien été envoyé.
      a(href="/accueil") Retour à la page d'accueil
